.header {
    margin: 6% 8%;
}

.home-solde {
    margin: 5px 10vw 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px 20px 40px;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

.home-solde:hover {
    background-color: #F79A6F;
}

.home-solde:hover .home-solde__texte, .home-solde:hover .home-solde__credit, .home-solde:hover .home-solde__unite,.home-solde:hover .home-solde__info,.home-solde:hover .home-solde__titre  {
    color: white;
}

.home-solde__texte {
    color: #3B3D73;
    font-size: 20px;
    transition: .2s;
}

.home-solde__info{
    color: #F79A6F;
    font-size: 25px;
    transition: .2s;

}

.home-solde__double{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.home-solde__titre {
    text-align: center;
    color: #3B3D73;
    font-size: 20px;
    transition: .2s;
    margin-bottom: 30px;
}

.home-solde__credit {
    text-align: center;
    color: #F79A6F;
    font-size: 60px;
    transition: .2s;
}
.home-solde__unite {
    color: #3B3D73;
    position: absolute;
    font-size: 27px;
    bottom: 20px;
    right: 20px;
    transition: .2s;
}

.action{
    margin: 8vh 8%;
}


@media screen and (min-width: 600px) {
    .home-solde{
        width: 500px;
        margin: 3vh auto;
    }

    .header {
        margin: 18px 32px;
    }
}