.body__content {
    height: 100vh;
    padding: 30px 38px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    margin-top: 4vh;
    width: 100%;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.messageLogin {
    font-family: Poppins, sans-serif;
    text-align: center;
    line-height: 2rem;
}
.messageLogin:first-child {
    margin-bottom: 1rem;
}

.link {
    color: #3b3d73;
    /* font-weight: bold; */
    text-decoration: none;
}
.link--strong {
    color: #f79a6f;
}

.oauth-btn {
    background-color: #878adb;
    width: 83px;
    height: 83px;
    border: none;
    border-radius: 23px;
}
.oauth-btn:hover {
    cursor: pointer;
}
.oauth-btn i {
    font-size: 45px;
    color: white;
}
.oauth-btn .icon {
    height: 45px;
    width: 45px;
    fill: white;
}

.social-login {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 5vh 0;
}

.alert {
    color: red;
}

.desktop-img {
    display: none;
}

.messagesLogin {
    margin: 5vh 0;
}

.describe {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #3B3D73;
    margin-right: 8%;
}

.message {
    color: #3B3D73;
    font-size: 16px;
}

@media screen and (min-width: 600px) {
    .body {
        display: flex;
        column-gap: 30px;
    }

    .body__content {
        margin: auto;
        width: 420px;
        height: auto;
    }

    .desktop-img {
        transition: 0.2s;
        display: block;
        object-fit: cover;
        width: 40%;
        height: 100vh;
        filter: saturate(80%) grayscale(10%) contrast(90%);
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    }

    .desktop-img:hover {
        filter: saturate(90%) contrast(90%);
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    }

    .separator {
        display: none;
    }

    .social-login {
        margin-top: 8vh;
        margin: 0;
    }
}
